@import 'colors';
@import '~bootstrap/scss/bootstrap';

body {
	background-color: $bg-color;
	color: $text-color;
}

a {
	background-color: $primary;
	color: $text-color;
	display: inline-block;
	padding: 0.5rem 1rem;
	text-decoration: none;

	&:hover {
		background-color: rgba($primary, 0.5);
		color: darken($text-color, 5);
		text-decoration: underline;
	}
}

.user-profile {
	background-color: #333;
	color: #fff;
	margin-bottom: 1.5rem;
	padding: 1rem 1.5rem;

	.email-link {
		font-style: italic;
	}
}
