$body-bg: #333;
$body-color: #fff;

@import "~bootstrap/scss/bootstrap";

.completed {
	font-style: italic;
	text-decoration: line-through;
}

#spinner {
	position: fixed;
	top: 1rem;
	right: 1.5rem;
}

.nav-item {
	.nav-link {
		background-color: #444;
		color: #fff;

		&.active {
			background-color: #555;
		}
	}
}
