<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>javascript-1/35-vue-basics</title>

	<link rel="stylesheet" href="../00-assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">

	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<div id="app">

		<div class="container">
			<h1>Vue.js basics</h1>

			<a :href="url" @click="secretLinkClicked">Secret link</a>

			<p>You have clicked the button: {{ clicks }} times.</p>

			<button @click="increaseClicks" class="btn btn-success btn-lg">Click meee! 😃</button>

			<hr>

			<p>Salary per hour: {{ salary }} €</p>

			<button @click="increaseSalary(1)" class="btn btn-success btn-lg">Increase salary 🤑</button>
			<button @click="decreaseSalary(1)" class="btn btn-danger btn-lg">Decrease salary 😢</button>

			<button @click.alt="increaseSalary(5)" class="btn btn-success btn-lg">Increase salary 🤑🤑🤑</button>
			<button @click.alt="decreaseSalary(5)" class="btn btn-danger btn-lg">Decrease salary 🥺🥺🥺</button>

			<hr>

			<div class="bg-grey" @mousemove="updateCoords">
				<div class="coords">
					{{ x }}, {{ y }}
				</div>
			</div>

			<hr>

			<p class="display-5" v-show="name">Hello {{ getName() }}, it's nice to meet you {{ getName() }}!</p>

			<div>
				<input
					type="text"
					v-model="name">
			</div>

			<div>
				Anonymous: <input type="checkbox" v-model="anonymous">
			</div>

		</div><!-- /.container -->

	</div><!-- /#app -->

	<script src="app.js"></script>
</body>
</html>
