$body-bg: #333;
$body-color: #fff;

@import "~bootstrap/scss/bootstrap";
@import "loader";

html, body {
	min-height: 100vh;
}

.completed {
	font-style: italic;
	text-decoration: line-through;
}

#clock {
	position: fixed;
	top: 1rem;
	left: 1.5rem;
}

#spinner {
	position: fixed;
	top: 1rem;
	right: 1.5rem;
}
